/*
 * Copyright 2023 Daniel DeGrasse
 *
 * SPDX-License-Identifier: Apache-2.0
 */

/dts-v1/;

#include <zephyr/dt-bindings/gpio/gpio.h>
#include <nxp/nxp_k22fxq512.dtsi>

#include "flexboard-pinctrl.dtsi"

/ {
	model = "FlexBoard";
	compatible = "flexboard";

	aliases {
		mcuboot-button0 = &key23;
	};

	chosen {
		zephyr,sram = &sram0;
		zephyr,flash = &flash0;
		zephyr,console = &uart3;
		zephyr,shell-uart = &uart3;
		zephyr,uart-pipe = &uart3;
		zephyr,code-partition = &slot0_partition;
	};

	keys {
		compatible = "gpio-keys";
		key23: key23 {
			gpios = <&gpiod 15 (GPIO_ACTIVE_HIGH | GPIO_PULL_DOWN)>,
				<&gpioe 6 GPIO_ACTIVE_HIGH>;
		};
	};
};

&sim {
	pllfll-select = <KINETIS_SIM_PLLFLLSEL_MCGPLLCLK>;
	er32k-select = <KINETIS_SIM_ER32KSEL_RTC>;
};

&uart3 {
	status = "okay";
	current-speed = <115200>;
	pinctrl-0 = <&uart3_default>;
	pinctrl-names = "default";
};

&i2c0 {
	status = "okay";
	pinctrl-0 = <&i2c0_default>;
	pinctrl-names = "default";
	status = "okay";
	clock-frequency = <I2C_BITRATE_FAST_PLUS>;
	led_ctrl: is31fl3733@50 {
		reg = <0x50>;
		compatible = "issi,is31fl3733";
		sdb-gpios = <&gpiob 18 GPIO_ACTIVE_HIGH>;
	};
};

&gpioa {
	status = "okay";
};

&gpiob {
	status = "okay";
};

&gpiod {
	status = "okay";
};

&gpioe {
	status = "okay";
};

zephyr_udc0: &usbotg {
	compatible = "nxp,kinetis-usbd";
	status = "okay";
	num-bidir-endpoints = <8>;
};

&flash0 {
	partitions {
		compatible = "fixed-partitions";
		#address-cells = <1>;
		#size-cells = <1>;

		boot_partition: partition@0 {
			label = "mcuboot";
			reg = <0x00000000 0x00010000>;
			read-only;
		};
		slot0_partition: partition@10000 {
			label = "image-0";
			reg = <0x00010000 0x00029000>;
		};
		slot1_partition: partition@39000 {
			label = "image-1";
			reg = <0x00039000 0x00028000>;
		};

		/*
		 * The flash starting at 0x00061000 and ending at
		 * 0x0007ffff is reserved for use
		 * by the application.
		 */
		storage_partition: partition@61000 {
			label = "storage";
			reg = <0x00061000 0x0001f000>;
		};

	};
};
